/bin/
*.jar
*.war
*.ear
*.class
.classpath
.project
.metadata
.DS_Store
/data/gen
src/TestMain.java
src/joosc/TestMain.java
output/

*~
.pdf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

joosc
